body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 20px;
}

#header {
    background-color: #f8f9fa; /* Cor de fundo do cabeçalho */
    padding: 20px;
    display: flex; /* Alinha os itens em linha */
    align-items: center; /* Centraliza verticalmente */
    border-bottom: 1px solid #dee2e6; /* Borda inferior */
    position: fixed; /* Fixa o cabeçalho no topo */
    top: 0; /* Alinha ao topo da página */
    left: 0; /* Alinha ao lado esquerdo */
    width: 90%; /* Largura total */
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}

body {
    padding-top: 80px; /* Adiciona um espaçamento para evitar que o conteúdo fique atrás do cabeçalho */
}

.logo {
    width: 50px; /* Ajuste o tamanho do logotipo */
    height: auto;
    margin-right: 10px; /* Espaço entre o logotipo e o título */
    margin-left: 20px; /* Espaço à esquerda do logotipo */
}

.title {
    flex-grow: 1; /* Faz o título ocupar o espaço restante */
    text-align: center; /* Centraliza o texto */
    font-size: 24px;
    color: #333; /* Cor do texto */
    margin: 0; /* Remove margens padrão */
}


.container {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.notification {
    background-color: #e9f7ef;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.notification p {
    margin: 10px 0;
    color: #555;
}

.notificationoff {
    background-color: #f7e9e9;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.notificationoff p {
    margin: 10px 0;
    color: #555;
}

.backButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.backButton:hover {
    background-color: #0056b3;
}

#bottom-nav {
    display: none; /* Oculta por padrão */
}

@media (max-width: 768px) { /* Ajuste a largura conforme necessário */
    #bottom-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #ffffff;
        border-top: 1px solid #ffffff;
        padding: 10px 0;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    }

    .nav-button {
        background: none;
        border: none;
        cursor: pointer;
        text-align: center;
    }
    
    .nav-button svg {
        display: block;
        margin: 0 auto 5px;
        fill: #007bff;
    }
    
    .nav-button span {
        font-size: 12px;
        color: #333;
    }
}


